<section id="about" style="background-color: #eee;" class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="heading">About me</h2>
        <p>I’m a native southern Californian who worked as a plumber for 18 years 
        and now I’m changing careers and looking for the right job with a great company. 
        I love making awesome, interactive web sites with new and different technologies. 
        The problem solving and constant learning involved with web development is very appealing and I’m eager for the challenges.</p>
        <p>More than a career path, coding is a hobby of mine. These days working to be a better developer is how I spend much of my time.  
        However some other interests are cooking, video games, playing hockey and trying new restaurants with my wife.</p>
        <p>My goal in the industry is to become a senior developer, and I have a lot of interst in project management.</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <img src="http://i64.tinypic.com/9r3d38.jpg" alt="" class="img-responsive img-thumbnail">
        </p>
      </div>
    </div>
  </div>
</section>