<section id="about" style="background-color: #eee;" class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="heading">About me</h2>
        <p>I’m a native southern Californian changing careers after being self employed as a plumber for the past 18 years.
         I am currently looking for the right job with a great company. 
        I love creating interactive web sites utilizing new and different technologies.</p>
        <p>The problem solving and the constant learning involved with web development is appealing and I’m eager for the challenges.
        More than a career path, coding is a hobby of mine. Working to be a better developer is how I spend much of my time. When I'm not coding I like to cook, play hockey and try new restaurants with my wife.</p>
        <p>My goal is to become a senior developer.</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <img src="http://i64.tinypic.com/9r3d38.jpg" alt="" class="img-responsive img-thumbnail">
        </p>
      </div>
    </div>
  </div>
</section>
