<section id="about" style="background-color: #eee;" class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="heading">About me</h2>
        <p>As a Full-Stack Web Developer, I deliver innovative, highly responsive web applications by leveraging my combined expertise in front-end technologies, back-end functional programming, and application integration. To achieve this, I deliver appealing mockups, well integrated application components, and extensive UX enhancements. 

Throughout my career I have utilized this approach to optimize user experience. During my latest project for My American Home Stay, for instance, I organized and developed a UI with high user interactivity by thoroughly researching and applying UI best practices. Meanwhile, I leveraged my strong design intuition to further increase user friendliness.   

The other key ingredient for my success is building critical back-end features. This is evident from my previous engagements, where I programmed a backbone function for Origin Flash Cards project. This drove the app’s critical swipe-scoring mechanism. I achieved this by establishing my subject-matter expertise in Loopback API and defining an effective user data storage structure in the back end. 

Some of my other accomplishments include: 
- Designed highly responsive and interactive UI by implementing best practices and design templates.
- Minimized application error risk by reducing technological dependencies through custom middleware.
- Built state-of-the-art app architecture using Express, Create-React, and integrated Dev builds.
- Enabled strong user-access controls by implementing Google OAuth.

If you want to work with someone who architects well-received front ends, develops innovative web app features, and efficiently learns and applies latest web technologies, email me: JTKP911@gmail.com
<br>
<hr>
Key Skills: React.JS, Redux, Node.JS, HTML, CSS, JavaScript, Bootstrap, CSS Materialize, React-Redux, DevOps, MERN Stack, MongoDB, Python, Django Framework, Webpack, Babel, Git, Sass, REST applications, 3rd party APIs
</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <img src="http://i64.tinypic.com/9r3d38.jpg" alt="" class="img-responsive img-thumbnail">
        </p>
      </div>
    </div>
  </div>
</section>
