<section id="about" style="background-color: #eee;" class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="heading">About me</h2>
        <p>Native San Diegan blah blah</p>
        <p>When I'm not coding I like playing hockey, horseshoes or trying new restaurants with my wife</p>
        <p>Javascript is the first language I learned. I'm eager to learn the next.
         My goal in the industry is..</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <img src="http://i64.tinypic.com/9r3d38.jpg" alt="" class="img-responsive img-thumbnail">
        </p>
      </div>
    </div>
  </div>
</section>