<section id="contact" style="background-color: #fff;" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Contact</h2>
        <div class="row">
          
          <div class="col-md-6">
            <p class="lead">Have any questions?</p>
            <p>Fill out the form to your left or send me an email at
              <a class="btn btn-primary" href="mailto:jtkp911@gmail.com">jtkp911@gmail.com</a> and I'll get back to you shortly.</p>
            <p class="social">
              <a href="https://www.linkedin.com/in/jamie-pham-253231167/" target="blank" data-toggle="tooltip" data-placement="left" title="LinkedIn" class="gplus">
                <i class="fa fa-linkedin-square"></i>
              </a>
              <a href="https://github.com/jtkp66" target="blank" data-toggle="tooltip" data-placement="top" title="Github" class="twitter">
                <i class="fa fa-github-alt fa-2x"></i>
              </a>
              <a href="http://oi68.tinypic.com/ff8nbp.jpg" target="blank" data-toggle="tooltip" data-placement="right" title="Resume" class="instagram">
                <i class="fa fa-file-text-o"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- facebook, twitter, gplus, instagram, email are different icon classes -->