<section id="portfolio" class="gallery">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <h2 class="heading">Portfolio</h2>
            <p></p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/portfolio/surveyPro">
              <p class="lead">SurveyPro</p>
            </a>
            <p>
              Mass email survey application.
            </p>
            <p>The goal was to create an application that allows users to sign up, buy credits and create surveys. Surveys that they can send to their customers, or constituants and collect feedback from the email responses.
            </p>
            <p> Built with React, Redux, React-Router, MongoDB, Mongoose, and CssMaterialize. Web hooks handled by sendgrid. Stripe to handle credit card payments.
            </p>
            <a href="/portfolio/surveyPro" class="btn btn-primary">Click for Project Details</a>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="http://i68.tinypic.com/25txhg0.jpg" alt="surveyPro Homepage" class="project-img img-responsive img-rounded">
          </div>
        </div>
        <hr />
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/portfolio/youTube">
              <p class="lead">Lead List</p>
            </a>
            <p>
              An app to keep track of job leads. Essentially, a todo app to practice CRUD operations with a different backend language. 
            </p>
            <p>
            This App was my first exposure with integrating Django and React, and experimenting with a tech stack other than MERN. 
            </p>
            <p>Built with Django/Python on the backend, and React/Redux</p>
            <a href="/portfolio/youTube" class="btn btn-primary">Click for Project Details</a>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="http://i66.tinypic.com/35incsj.jpg" alt="Lead List homepage" class="project-img img-responsive img-rounded">
          </div>
        </div>
        <hr />
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/portfolio/flashCards">
              <p class="lead">Origin Flash Cards</p>
            </a>
            <p>
              A tinder style swiping, spaced repetition flash card app. This app was the final group project at Origin Code Academy.
            </p>
            <p>We used React-Native, Loopback, MongoDB.</p>
            <a href="/portfolio/flashCards" class="btn btn-primary">Click for Project Details</a>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="http://i68.tinypic.com/2qimzqg.jpg" alt="flashCards" class="project-img img-responsive img-rounded">
          </div>
        </div>
        <hr />
        <div class="row">
          <p class="lead"><a href="/portfolio/moviefinder" class="btn btn-primary">More Projects</a></p>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i66.tinypic.com/344ujxt.jpg" title="Movie Finder" data-toggle="lightbox" data-gallery="portfolio" data-title="Movie Finder"
                data-footer="<p>Movie Finder utilizing OMDB's API to search for movies.</p>
                <a href='/portfolio/moviefinder' class='btn btn-sm btn-primary'>More details</a>">
                <img src="http://i66.tinypic.com/344ujxt.jpg" alt="movie finder screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i66.tinypic.com/s1sx78.jpg" title="Weather App" data-toggle="lightbox" data-gallery="portfolio" data-title="Weather App"
                data-footer="<p>Check the weather through Open Weather Map's API.</p>
                <a href='/portfolio/weatherapp' class='btn btn-sm btn-primary'>More details</a>">
                <img src="http://i66.tinypic.com/s1sx78.jpg" alt="weather app screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i65.tinypic.com/34q2vx4.jpg" title="ORIGIN CONNECT" data-toggle="lightbox" data-gallery="portfolio" data-title="ORIGIN CONNECT"
                data-footer="<p>A social networking App built with the MERN stack</p>
                <a href='/portfolio/tSwift' class='btn btn-sm btn-primary'>More details</a>">
                <img src="http://i65.tinypic.com/34q2vx4.jpg" alt="ORIGIN CONNECT" class="project-img img-responsive">
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i64.tinypic.com/33esyfd.jpg" title="Mailchimp Newsletter sign up" data-toggle="lightbox" data-gallery="portfolio" data-title="Mailchimp Newsletter sign up"
                data-footer="<p>A newletter app built with HTML, NodeJs, express, Bootstrap, Bootswatch.</p>
                <a /a>">
                <img src="http://i64.tinypic.com/33esyfd.jpg" alt="Newsletter screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i64.tinypic.com/24v1c05.jpg" title="Lyric Finder" data-toggle="lightbox" data-gallery="portfolio" data-title="Lyric Finder "
                data-footer="<p>A lyric finder app built with React's built in context API and musicmatch's public API</p>
                <a></a>">
                <img src="http://i64.tinypic.com/24v1c05.jpg" alt="Lyric Finder screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i68.tinypic.com/2ujl891.jpg" title="Space Mission Tracker" data-toggle="lightbox" data-gallery="portfolio" data-title="Space Mission tracker"
                data-footer="<p>An app built with React Apollo, and graphQL to track the success of space missions using Spacex's API.</p>
                <a </a>">
                <img src="http://i68.tinypic.com/2ujl891.jpg" alt="Space Mission Screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i68.tinypic.com/13zmnpy.jpg" title="Code Gig Finder" data-toggle="lightbox" data-gallery="portfolio" data-title="Code Gig Finder"
                data-footer="<p>An app to add and keep track of code gigs. Built with NodeJS, MySQL, PostgreSQL, sequelize, and express-handlebars template engine</p>
                <a /a>">
                <img src="http://i68.tinypic.com/13zmnpy.jpg" alt="Code Gig" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i66.tinypic.com/23sdp4g.jpg" title="Me and Youtube" data-toggle="lightbox" data-gallery="portfolio" data-title="Me and Youtube"
                data-footer="<p>A mock youtube app using youtube's API, styling and core functionality. Built with React.js.</p>
                <a></a>">
                <img src="http://i66.tinypic.com/23sdp4g.jpg" alt="codegig" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i63.tinypic.com/dvk45w.jpg" title="React Multi-Step-Form" data-toggle="lightbox" data-gallery="portfolio" data-title="Multi-Step-Form"
                data-footer="<p>A multi-step-form built with React and Material UI.</p>
                <a </a>">
                <img src="http://i63.tinypic.com/dvk45w.jpg" alt="Form" class="project-img img-responsive">
              </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <p class="lead"><a class="btn btn-primary">Projects I'm working on.</a></p>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i63.tinypic.com/a168fm.jpg" title="Mad Munch App" data-toggle="lightbox" data-gallery="portfolio" data-title="Mad Munch App"
                data-footer="<p>A React Native App for a Grilled Cheese Co.</p>
                <a class='btn btn-sm btn-primary'>Coming Soon</a>">
                <img src="http://i63.tinypic.com/a168fm.jpg" alt="mad munch screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i67.tinypic.com/2hcdwmu.jpg" title="MEAN Stack Social Forum" data-toggle="lightbox" data-gallery="portfolio" data-title="Angular Social Forum App"
                data-footer="<p>A forum built with Mongo, Express, Angular, Node</p>
                <a>Coming soon!</a>">
                <img src="http://i67.tinypic.com/2hcdwmu.jpg" alt="weather app screenshot" class="project-img img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="http://i64.tinypic.com/2irpxdv.jpg" title="Study Stack" data-toggle="lightbox" data-gallery="portfolio" data-title="Study Stack"
                data-footer="<p>An React Native app to practice sudo code and study algorithms, methods, sorting, etc...</p>
                <a class='btn btn-sm btn-primary'>Coming Soon!</a>">
                <img src="http://i64.tinypic.com/2irpxdv.jpg" alt="Study Stack" class="project-img img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>