<!DOCTYPE html>
<html class="no-js">

<% include ../partials/head %>

  <body data-spy="scroll" data-target="#navigation" data-offset="120">
    <!-- intro-->
    <section id="intro" style="background-image: url('https://oceanbeachsandiego.com/sites/default/files/d7/photos/20170128_162331_hdr.jpg');" class="intro">
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <p class="bold">Welcome, thanks for stopping by</p>
              <h1>I'm Jamie, a full stack MERN Developer.</h1>
              <p class="bold"></p>
              <p class="bold">Looking to expand.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <p class="social text-left">
                <a href="https://www.linkedin.com/in/jamie-pham-253231167/" target="blank" data-toggle="tooltip" data-placement="left" title="LinkedIn" class="gplus">
                  <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/jtkp66" target="blank" data-toggle="tooltip" data-placement="top" title="Github" class="twitter">
                  <i class="fa fa-github-alt fa-2x"></i>
                </a>
                <a href="./img/pham-resume.pdf" target="blank" data-toggle="tooltip" data-placement="right" title="Resume" class="instagram">
                  <i class="fa fa-file-text-o"></i>
                </a>
                <span class="intro-contact">
                  <a href="mailto:jtkp911@gmail.com">jtkp911@gmail.com</a> | 619-964-9086</span>
              </p>
              <p>
                <a class="btn btn-sm btn-danger" href="https://rocky-waters-46665.herokuapp.com/">Quick Link to a live project!</a>
              </p>
            </div>
          </div>
          <p class="text-center view-projects-container">
            <a href="#portfolio" class="view-projects scroll-to">View my work
              <br />
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </section>
    <!-- intro end-->
    <!-- navbar-->
    <% include ../partials/nav %>
      <!-- /.navbar-->
      <!-- Portfolio / gallery-->
      <% include ../partials/portfolio %>
        <!-- Portfolio / gallery end-->
        <!-- about-->
        <% include ../partials/about %>
          <!-- about end-->
          <% include ../partials/skills %>
            <!-- contact-->
            <% include ../partials/contact %>
              <% include ../partials/footer %>
                <% include ../partials/scripts %>
  </body>

</html>