<!DOCTYPE html>
<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'flashCards'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Origin Flash Cards</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/v7ti68.jpg" alt="flashCards" />
                    <img class="img-responsive project-img" src="http://i66.tinypic.com/2hmek3s.jpg" alt="flashCards" />
                    <img class="img-responsive project-img" src="http://i67.tinypic.com/2rm3w4p.jpg" alt="flashCards" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>This was the final group project we chose at Origin Code Academy. The project is a spaced repetition flashCards application.
                      we chose to tackle React-native to make a phone app, even though we knew it would be tougher to learn a variation on a framework we were familiar with.
                      I gained a lot from this project, this is when I realized the importance of proper architecture and planning the front end and what functionality we used
                      on the backend.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>
                        We used React-native and Redux for the front-end and loopack, mongoDB for our back-end database, data queries, and web hosting.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>
                          View our code on
                          <a class="btn btn-m btn-primary" href="https://github.com/OriginCodeAcademy/origin-flash-cards" target="_blank">Github</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>