<!DOCTYPE html>
<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'surveyPro'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">SurveyPro</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/vsjehe.jpg" alt="surveyPro Website"
                    />
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/166f0wl.jpg" alt="surveyPro Website" />
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/2m4d0md.jpg" alt="surveyPro Website"
                    /> 
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        During this project, I developed a credit-driven mass email survey application for improved customer feedback collection. I designed a user-friendly front end in React-Redux. I researched and implemented Webhooks using SendGrid, ensured effective user authentication using Google OAuth (Passport.js), and integrated Stripe for credit card payments.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Key Skills, Tools & Technologies:</p>
                      <p>User Authentication System (Passport.js), MongoDB, Mongoose, CSSMaterialize, React-Router, React, Stripe, SendGrid. React-Redux.</p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>You can view this project live at
                          <a class="btn btn-sm btn-primary" href="https://fathomless-plateau-51116.herokuapp.com/" target="_blank">SurveyPro</a>
                        </li>
                        <li>You can view the Github repo here
                          <a class="btn btn-sm btn-primary" href="https://github.com/jtkp66/EmailSurvey" target="_blank">SurveyPro</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>