<!DOCTYPE html>
<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'surveyPro'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">SurveyPro</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/vsjehe.jpg" alt="surveyPro Website"
                    />
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/166f0wl.jpg" alt="surveyPro Website" />
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/2m4d0md.jpg" alt="surveyPro Website"
                    /> 
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        This was a project that emails 
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>Front End</p>
                        <p>React / Redux / HTML / CSS</p>                     
                      <p>Back End</p>
                      <p>MongoDB / Node Js / </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Authentication</p>
                      <p>
                        
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Reflection</p>
                      <p>
                        
                      </p>
                      <p>
                        
                      </p>
                    </div>
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>You can view this project live at
                          <a class="btn btn-sm btn-primary" href="https://fathomless-plateau-51116.herokuapp.com/" target="_blank">SurveyPro</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>