<!DOCTYPE html>
<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'surveyPro'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">SurveyPro</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/vsjehe.jpg" alt="surveyPro Website"
                    />
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/166f0wl.jpg" alt="surveyPro Website" />
                    <img class="img-responsive project-img" src="http://i65.tinypic.com/2m4d0md.jpg" alt="surveyPro Website"
                    /> 
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        A survey app that sends mass emails. This project utilized the most technology I've ever put in any one app. 
                        This was my first time working with Google Oauth and passport, along with stripe and sendgrid. The app has a 
                        development mode and production mode. Ther server was built from scratch using express and mongoDB for the backend.
                        I integrated a create react app for the front end once the database and server were functional.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p><strong>Front End:</strong></p>
                        <p>React / Redux / HTML / CSS</p>                     
                      <p><strong>Back End:</strong></p>
                      <p>MongoDB / Node Js / Express</p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>You can view this project live at
                          <a class="btn btn-sm btn-primary" href="https://fathomless-plateau-51116.herokuapp.com/" target="_blank">SurveyPro</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>