<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'tSwift'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">T.Swift Album Finder</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="http://i66.tinypic.com/209rkh5.jpg" alt="album finder" />
                    <img class="project-img img-responsive" src="http://i68.tinypic.com/34xl01y.jpg" alt="album finder" />
                    <img class="project-img img-responsive" src="http://i68.tinypic.com/iznx54.jpg" alt="album finder" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        This was a fun react-native project that isnt very intricate, but it was the first react-native project to 
                        become familiar with react native.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>
                        Front End: React-native
                      </p>
                        
                      <p>
                        
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>View my code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/jtkp66/Albums" target="_blank">Github</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>