<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'tSwift'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Origin Connect</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="http://i65.tinypic.com/2mfgs5i.jpg" alt="album finder" />
                    <img class="project-img img-responsive" src="http://i65.tinypic.com/168ztrq.jpg" alt="album finder" />
                    <img class="project-img img-responsive" src="http://i63.tinypic.com/2wqd5ht.jpg" alt="album finder" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        This is a social networking app. It's themed to connect with other alumni from the coding bootcamp I attended.
                        Users can sign up, login and then create a profile. Users can edit their profile and erase at any time. There are features to create posts and like other user's posts. 
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>
                        Front End: React, Redux 
                      </p>
                        
                      <p>
                        Backend: Node.js, Express, MongoDB
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                      <p>
                      <li>View Live Project Here!
                          <a class="btn btn-sm btn-danger" href="https://rocky-waters-46665.herokuapp.com/" target="_blank">Origin Connect</a>
                        </li>
                        </p>
                        <p>
                        <li>View my code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/jtkp66/Albums" target="_blank">Github</a>
                        </li>
                        </p>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>