<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'tSwift'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Origin Connect</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="http://i65.tinypic.com/2mfgs5i.jpg" alt="album finder" />
                    <img class="project-img img-responsive" src="http://i65.tinypic.com/168ztrq.jpg" alt="album finder" />
                    <img class="project-img img-responsive" src="http://i63.tinypic.com/2wqd5ht.jpg" alt="album finder" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        For this project, the aim was to reconnect with Code Academy alumni in a social environment. I developed a social networking application with extensive user profile management features. I also deployed a simplified React Hooks architecture instead of class-based components to speed up development.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies / Key Skills</p>
                      <p>
                        Key Skills, Tools & Technologies: MERN Stack, React Hooks, JWT User Authentication, Custom Middleware.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                      <p>
                      <li>View Live Project Here!
                          <a class="btn btn-sm btn-danger" href="https://guarded-chamber-85080.herokuapp.com/" target="_blank">Origin Connect</a>
                        </li>
                        </p>
                        <p>
                        <li>View my code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/jtkp66/mern-social-refactor" target="_blank">Github</a>
                        </li>
                        </p>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>