<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'weatherapp'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Weather App</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="http://i66.tinypic.com/2dgu6pu.jpg" alt="weather app project" />
                    <img class="project-img img-responsive" src="http://i67.tinypic.com/2jbs6qh.jpg" alt="weather app project" />
                    <img class="project-img img-responsive" src="http://i67.tinypic.com/2hhmasl.jpg" alt="weather app project" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                      During this project, I was to build a weather query application using the latest weather APIs. I accomplished this by developing two applications; I implemented Weather MAP API in one instance and generated a 5-day graph forecast in the second instance using Google Maps and Sparklines.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Key Skills, Tools & Technologies:</p>
                      <p>
                        Open Weather Map API, React, Redux, HTML5, Bootstrap, Node.js, Express, Sparklines, Google Maps API.
                      </p>
                      <p>
                        
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>You can view this project live at
                          <a class="btn btn-sm btn-primary" href="https://fathomless-forest-60028.herokuapp.com/" target="_blank">Weather App</a>
                        </li>
                        <li>View my code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/jtkp66/startnow-react200-weather-app" target="_blank">Github</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>