<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'youTube'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Lead List</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="http://i64.tinypic.com/olb3n.jpg" alt="me and youtube website" />
                    <img class="project-img img-responsive" src="http://i66.tinypic.com/35incsj.jpg" alt="me and youtube website" />
                    <img class="project-img img-responsive" src="http://i65.tinypic.com/t99ik3.jpg" alt="me and youtube website" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                      Lead list is an app that was exciting to build. My first integration of Django and React required quite a bit of debugging and troubleshooting. In the end, I have a project that works, and doesn't look half bad. I look forward to building more projects with this tech stack. 
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>
                        <strong>Front end:</strong> React, Redux
                      </p>
                      <p>
                        <strong>Back end:</strong> Django, Python, sqlite
                      </p>
                    </div>
                    <hr />
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>View my code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/jtkp66/leadhunter-django-react-redux" target="_blank">Github</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>